django>=5.0,<5.1
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
psycopg2-binary>=2.9.9
chromadb>=0.4.24
sentence-transformers>=2.5.1
pymupdf>=1.24.0
pypdf>=4.1.0
pytesseract>=0.3.10
pdf2image>=1.17.0
pillow>=10.2.0
google-generativeai>=0.4.1
python-dotenv>=1.0.1